@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <form class="ExamInfo_form">
            <div class="ExamInfo_div"><label class="ExamInfo_lbl">Speciality: </label> <input class="ExamInfo_input" type="text" readonly value="Pediatric Cardiology"/></label></div>
            <div class="ExamInfo_div"><label class="ExamInfo_lbl">Exam Type: </label><input class="ExamInfo_input" type="text" readonly value="Part 1"/></div>
            <div class="ExamInfo_div"><label class="ExamInfo_lbl">Exam Date: </label><input class="ExamInfo_input" type="date" readonly value="30-08/2020" /></div>
            <div class="ExamInfo_div"><label class="ExamInfo_lbl">Chairman: </label><input class="ExamInfo_input" type="text" readonly value="Dr. Fadi Munshi" /></div>
        </form>
    </div>

<div class="row">
    <div class="col-md-4">
        <div><label>Candidate Number: </label> <input type="number" readonly value="50" /></div>
        <div><label>Pass Rate: </label> <input type="text" readonly value="80%" /></div>
        <div><label>Passes Candidate Number: </label> <input type="number" readonly value="40"  /></div>
        <div><label>Cut Score: </label> <input type="text" readonly value="70%" /></div>
    </div>
    <div class="col-md-4">

        <table>
            <tr>
                <th>Candidate ID</th>
                <th>Score</th>
            </tr>
            <tr>
                <td>Candidate 1</td>
                <td>80</td>
                <td>Candidate 2</td>
                <td>70</td>
                <td>Candidate 3</td>
                <td>60</td>
            </tr>
            <tr>
                <td>February</td>
                <td>$80</td>
            </tr>
        </table>
    </div>
</div>